.frame{
    position: absolute;
    width: 100%;
    height: 440px;
    left: 0px;
    /* border: 1px solid red; */
    top: 56px;
    top: 10vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%);
}

.head_img{
    /* position: absolute; */
    width: 100%;
    height: 440px;
    left: 0px;
    background-color: transparent;
    top: 56px;
    top: 10vh;
    margin-top: 56px;
    margin-top: 10vh;
    /* border: 2px solid red; */


}

.head_img img{
    width: 100%;
    height: 100%;
    object-fit: fill;

}

.header_text{
    position: absolute;
    /* width: 378px; */
    height: 47px;
    left: 200px;
    top: 300px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */

    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.header_footer_text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
    opacity: .7;
}

.group_container{
    padding: 0 7rem;
    /* border: 1px solid red; */
    /* height: 82vh; */
    height: 80vh;
    display: flex;
    justify-content: space-between;

    /* overflow-y: scroll; */
}

.groups{
    width: 65%;
    /* border: 1px solid green; */
    overflow-y: scroll;
}

.groups::-webkit-scrollbar {
    width: 0px;
}
  


/* /////////////////////// second nav ///////////////////// */

.second_nav{
    /* padding: 1rem 0; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7rem;
    height: 10vh;
    border: 1px solid white;
    border-bottom: 2px solid #E0E0E0;
}

.field{
    display: flex;
    align-items: center;
}

.to{
    font-size: 16px;
    line-height: 21px;
    padding: 1rem 0;
    position: relative;
    top: 4px;
    color: #000000;
    text-decoration: none;
    margin-right: 1rem;
    opacity: .7;
    border-bottom: 2px solid #E0E0E0;
}

.to:hover{
    color: #000000;
    opacity: 1;
    border-bottom: 2px solid rgba(68, 67, 67, 0.863);
    
}

.btn{
    display: flex;
    
}

.btn1{
    width: 133px;
    height: 36px;
    outline: none;
    border: none;
    background: #EDEEF0;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn2{
    width: 133px;
    height: 36px;
    outline: none;
    border: none;
    background: #2F6CE5;
    border-radius: 4px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
    cursor: pointer;
}




/* ////////////////// card /////////////////// */

.card2{
    /* height: 472px; */
    margin-top: 1rem;
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.info{
    padding: 1rem;
}

.tag{
    
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}

.foot{
    display: flex;
    margin-top: 2rem;
    
    justify-content: space-between;
}

.pro{
    display: flex;
    align-items: center;
}

.name{
    font-weight: 600;
    font-size: 18px;
    color: #000000;
}

.pro img{
    width: 48px;
    height: 48px;
    margin-right: .5rem;
    border-radius: 24px;
}

.option{
    display: flex;
    align-items: center;
}

.views{
    /* font-weight: 500; */
    /* font-size: 14px;  */
    display: flex;

    color: #525252;
}

.share{
    background: #EDEEF0;
border-radius: 2px;
 padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.desc{
    display: flex;
    flex-direction: column;
}


.main_desc{
    display: flex;
    margin: 1rem 0;
}

.div1{
    font-weight: 600;
font-size: 22px;
width: 90%;
/* or 30px */


color: #000000;
}

.div2{
    width: 10%;
    display: flex;
    align-content: flex-end;
    align-items: center;
    justify-content: flex-end;
}

.sub_desc{
    font-size: 19px;
    color: #5C5C5C;
    display: flex;

}


.sub_desc1{
    font-weight: 500;
font-size: 15px;
color: #000000;
display: flex;
    margin-right: 3rem;
/* justify-content: center; */
align-items: center;
}

.sub_desc2{
    font-weight: 500;
font-size: 15px;
    display: flex;
    align-items: center;

color: #000000;
}

.card_btn{
    margin: .5rem 0;
    background: #FFFFFF;
    border: 0.7px solid #A9AEB8;
    box-sizing: border-box;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem 0;
    cursor: pointer;

}




.rec_group{
    width: 25%;
    /* border: 1px solid blue; */
    padding-top: 3rem;
}

.loc{

    font-size: 14px;
    color: #000000;
    display: flex;
    align-items: center;
    padding: .5rem 0;
    border-bottom: 0.4px solid #B8B8B8;
}

.loc input{
    width: 100%;
    outline: none;
    border: none;
}

.warn{
    font-size: 12px;
    color: #000000;
    margin: 1rem 0;
    display: flex;
    margin-bottom: 2rem;
    opacity: 0.5;
}

.rec{
    font-size: 14px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;

}

.rec_all_group{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .7rem 0;
}

.grp_pro {
    display: flex;
    align-items: center;
}

.grp_pro img{
    width: 36px;
    height: 36px;
    border-radius: 21px;
    margin-right: .5rem;;
}

.g_name{
    font-size: 14px;
    color: #000000;
}

.grp_btn{
    background: #EDEEF0;
border-radius: 14px;
font-size: 12px;
text-align: center;
padding: .3rem .6rem;

color: #000000;
}

.dropdown-toggle::after{
    display: none;
}

.dropdown{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* border: 1px solid red; */
    width: 20%;
}

.pro h4{
    margin: 0;
}

.btn-secondary{
    color: black;
    background: #BFC0C0;
    border: none;
}

.btn-secondary:hover{
    border: none;
    color: black;
    background: #BFC0C0;
}

.dropdown-menu li{
    padding: .2rem 1rem;
}

.dropdown-menu{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16), 0px 0px 2px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    border: none;

}

.btn{
    transition: none;
}

.dropdown-toggle{
    border: none !important;
    outline: none !important;
    border-radius: 4px;
    padding: .3rem .5rem;
}

.secondT{
    display: none;
}

.alt_post{
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.01em;

    color: #212529;
}

.views2{
    display: none;
}

.share2{
    display: none;
}

.btn_div_res{
    display: none;
}

.float_btn{
    display: none;
}

@media (max-width: 1000px){

    .float_btn{
        display: inline;
        position: fixed;
        width: 54px;
        height: 54px;
        bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        cursor: pointer;
        z-index: 10;
        border-radius: 50%;
        right: 1rem;

        background: linear-gradient(180deg, #FF5C5C 0%, #F0568A 100%);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18), 0px 0px 2px rgba(0, 0, 0, 0.08);
    }

    .frame {
        top: 0;
        margin-top: 0;
        height: 236px;
    }
    
    .head_img{
        top: 0;
        margin-top: 0;
        height: 236px;
    }


    .header_text{
        position: absolute;
        left: 16px;
        top: 150px;

        font-family: IBM Plex Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 22px;
        /* identical to box height */


        color: #FFFFFF;
    }

    .second_nav{
        display: none;
        height: 10vh;
        padding: .4rem .7rem;
    }

    .header_footer_text{
        font-size: 12px;
    }

    .group_container{
        /* display: none; */
        height: 90vh;
    }


    .secondT{
        display: flex;
        /* border: 2px solid red; */
        height: 10vh;
        margin: 0;
        padding: .7rem 1rem;
        justify-content: space-between;
        align-items: center;
    }

    .alt_post{
        font-weight: bold;
        font-size: 14px;
        letter-spacing: 0.01em;

        color: #212529;
    }

    .btn33{
        height: 32px;
        width: 30%;
        background: #F1F3F5;
        border-radius: 4px;
        outline: none;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: auto 1rem;
        font-weight: 500;
        font-size: 13px;
        color: #212529;

    }

    .rec_group{
        display: none;
        width: 0;
    }

    .group_container{
        padding: 0;
    }
    .groups{
        width: 100%;
        background: #F1F3F5;
    }

    .tag{
        font-size: 14px;
    }

    .div1{
        font-size: 16px;
        width: 80%;
    }

    .sub_desc{
        font-size: 14px;
    }

    .pro img{
        width: 37px;
        height: 37px;
    }

    .views{
        display: none;
    }

    .name{
        font-size: 13px;
    }

    .pro h4{
        display: flex;
        flex-direction: column;
    }

    .views2{
        display: inline;
        font-weight: 500;
        font-size: 12px;
        color: #495057;
    }

    .sub_desc1{
        font-size: 12px;
        width: 50%;
        margin: 0;
    }

    .sub_desc2{
        font-size: 12px;
        width: 50%;
    }

    .share{
        display: flex;
    }

    .share2{
        display: block;
        text-transform: capitalize;
        font-size: 12px;
        margin-left: .3rem;
    }

    .btn_div_res{
        display: block;
        position: absolute;
        top: 0;
        width: 100%;
        padding: .5rem 1rem;
        /* border: 2px solid red; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        z-index: 10;
        opacity: 1;
    }

    .join_grp{
        width: 76px;
        height: 28px;
        cursor: pointer;

        border: 0.8px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 12px;
        line-height: 16px;
        color: #FFFFFF;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    
}











